<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.falconx.market.repository.mapper.MarketTradingHolidayMapper">

    <resultMap id="MarketTradingHolidayRecordMap" type="com.falconx.market.repository.mapper.record.MarketTradingHolidayRecord">
        <constructor>
            <arg column="id" javaType="java.lang.Long"/>
            <arg column="market_code" javaType="java.lang.String"/>
            <arg column="holiday_date" javaType="java.time.LocalDate"/>
            <arg column="holiday_type" javaType="int"/>
            <arg column="open_time" javaType="java.time.LocalTime"/>
            <arg column="close_time" javaType="java.time.LocalTime"/>
            <arg column="timezone" javaType="java.lang.String"/>
            <arg column="holiday_name" javaType="java.lang.String"/>
            <arg column="country_code" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <select id="selectAll" resultMap="MarketTradingHolidayRecordMap">
        SELECT
            id,
            market_code,
            holiday_date,
            holiday_type,
            open_time,
            close_time,
            timezone,
            holiday_name,
            country_code
        FROM t_trading_holiday
        ORDER BY market_code ASC, holiday_date ASC
    </select>
</mapper>
