<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.falconx.market.analytics.mapper.MarketQuoteTickMapper">

    <insert id="insertQuoteTick" parameterType="com.falconx.market.analytics.mapper.record.MarketQuoteTickRecord">
        INSERT INTO falconx_market_analytics.quote_tick (
            symbol,
            source,
            bid_price,
            ask_price,
            mid_price,
            mark_price,
            event_time
        ) VALUES (
            #{symbol},
            #{source},
            #{bidPrice},
            #{askPrice},
            #{midPrice},
            #{markPrice},
            #{eventTime}
        )
    </insert>
</mapper>
