<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.falconx.identity.repository.mapper.test.IdentityTestSupportMapper">

    <delete id="deleteInbox">DELETE FROM t_inbox</delete>
    <delete id="deleteRefreshTokenSession">DELETE FROM t_refresh_token_session</delete>
    <delete id="deleteUser">DELETE FROM t_user</delete>

    <select id="selectUserStatusById" resultType="java.lang.Integer">
        SELECT status
        FROM t_user
        WHERE id = #{userId}
    </select>

    <select id="countRefreshTokenSession" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_refresh_token_session
    </select>

    <select id="countUsedRefreshTokenSession" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_refresh_token_session
        WHERE used = 1
    </select>

    <select id="countProcessedInboxByEventId" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_inbox
        WHERE event_id = #{eventId}
          AND status = 1
    </select>
</mapper>
